@charset "utf8";

html
{
	background: #080808;

	font-family: monospace;
}

body
{
	background: #000;
	color: #888;

	margin: 0 auto;
	padding: 1ch 0;

	max-width: 80ch;
}

h1, h2
{
	font-weight: normal;
	font-size: 100%;
}

h1
{
	color: #eee;
	font-weight: bold;
	text-align: center;
}

em
{
	font-weight: normal;
	font-style: normal;

	color: #088;
}

a
{
	display: inline-block;
	color: #44a;
	text-decoration: none;
}

a:visited
{
	color: #ee8;
}

a:focus
{
	color: #000;
	background: #44a;
}

a:focus::first-letter
{
	background: #aaa;
}

a:hover
{
	text-decoration: underline;
}

p
{
	margin: 1em 3ch;
}

pre
{
	margin: 1em 1ch;
}

body::before, body::after, a:focus::after
{
	position: fixed;
	left: 0;
	right: 0;

	margin: 0 auto;

	color: #000;
	background: #aaa;
}

body::before
{
	top: 0;

	width: 80ch;

	content: '~mgorny (' counter(page) '/' counter(pages) ') ';
	text-align: right;
}

body::after
{
	bottom: 0;
	right: 1ch;

	width: 79ch;

	content: 'OK                                                                     [------]';

	z-index: 0;
}

a:focus::after
{
	bottom: 0;
	right: 10ch;

	width: 70ch;

	content: attr(href);
	overflow: hidden;
	white-space: nowrap;

	z-index: 1;
}

.filters a {
	color: #888;
}

.filters a em {
	color: #888;
	font-weight: bold;
}

sup::before {
	content: '^';
}
